<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
      <link href="stylesheets/bootstrap.min.css" rel="stylesheet">
  </head>
  <body>
    <script src="javascripts/jquery.min.js"></script>
    <script src="javascripts/bootstrap.min.js"></script>
    <%- body %>
  </body>
</html> 